{{#pagingVo}}
    {{#first}}
        <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{page}}">&lt;&lt;</a></li>
    {{/first}}
    {{#prev}}
        <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{page}}">&lt;</a></li>
    {{/prev}}
    {{#pageList}}
        <li><a class="pagination-link {{#current}}is-current{{/current}}" aria-label="Goto page {{page}}" {{#current}}aria-current="page"{{/current}} arial-page="{{page}}">{{page}}</a></li>
    {{/pageList}}
    {{#next}}
        <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{page}}">&gt;</a></li>
    {{/next}}
    {{#last}}
        <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{page}}">&gt;&gt;</a></li>
    {{/last}}
{{/pagingVo}}