{{#pagingVo}}
    <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{first.page}}" {{^first}}disabled{{/first}}>&lt;&lt;</a></li>
    <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{prev.page}}" {{^prev}}disabled{{/prev}}>&lt;</a></li>
    {{#pageList}}
        <li><a class="pagination-link {{#current}}is-current{{/current}}" aria-label="Goto page {{page}}" {{#current}}aria-current="page"{{/current}} arial-page="{{page}}">{{page}}</a></li>
    {{/pageList}}
    <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{next.page}}" {{^next}}disabled{{/next}}>&gt;</a></li>
    <li><a class="pagination-link" aria-label="Goto page {{page}}" arial-page="{{last.page}}" {{^last}}disabled{{/last}}>&gt;&gt;</a></li>
{{/pagingVo}}